body{
    display:flex; 
    justify-content:center;
    align-items:center;
    height:100vh;
}

.block{
    width: 40px;
    height: 40px;
    filter: brightness(100%);
}

.mountainBlock{
    background-image: url('images/mountain.png');
    background-size: cover;
    opacity: 100%;
}

.shrineBlock{
    background-image: url('images/shrine.png');
    background-size: cover;
    opacity: 100%;
}

.farmBlock{
    background-image: url('images/farm.png');
    background-size: cover;
    opacity: 100%;   
}

.emptyBlock{
    background-image: url('images/empty.png');
    background-size: cover;
    opacity: 30%;
}

#board{
    margin: 0 auto;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(11, 1fr);
    background-image: url('images/background.jpg');
    background-size: cover; 
}

.block:hover {
    filter: brightness(70%);
}